---
import Header from "../../../components/header.astro";
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <Header />
    <h1>About Me</h1>
    <h2>... and my new Astro site!</h2>

    <h1>My Astro Learning Blog</h1>
    <p>This is where I will post about my journey learning Astro.</p>
    <h2>Blog #1</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse maximus malesuada mi sed iaculis. Vestibulum auctor ex vel nisl fringilla, dignissim congue lectus sodales. Maecenas magna nibh, porttitor lacinia placerat ac, rhoncus quis felis. Praesent porta eget mauris nec tempor. Fusce consectetur odio turpis, vitae efficitur erat semper vel. Sed vulputate porttitor orci sed tincidunt. Donec massa augue, placerat quis vestibulum non, cursus et leo. Proin malesuada dui enim, in mattis est commodo non. Donec risus magna, dictum vel facilisis at, euismod ac nunc. Vestibulum sem erat, maximus sed tristique in, lobortis vitae lorem. Ut at eleifend lectus, eget feugiat ex. Nulla non erat sit amet arcu varius auctor a quis dolor.

Vivamus massa libero, laoreet ut odio non, mattis molestie tortor. Nam sed risus id urna mattis fermentum. Cras rutrum lobortis velit, quis porta dolor viverra feugiat. Vivamus mattis at sapien ac euismod. Fusce eu elit vel magna sagittis elementum. Maecenas ullamcorper ex metus. Nunc posuere nulla est, vel venenatis ante rhoncus tristique. Vivamus eget fermentum purus, nec accumsan velit.

Nulla facilisi. Sed sit amet auctor nibh. Phasellus sagittis, urna et vehicula semper, purus diam lobortis nibh, eu dignissim tortor nisi sed ante. Quisque rutrum rutrum tellus quis vehicula. Morbi nec lorem faucibus, bibendum mi at, bibendum nulla. Fusce rhoncus hendrerit suscipit. In a justo eu quam feugiat euismod. Aliquam porta lacus id efficitur auctor. Mauris metus justo, imperdiet vel est sit amet, iaculis dapibus nisl. Quisque vestibulum est finibus, tempus urna eu, pellentesque erat. Donec sodales massa sit amet scelerisque porttitor. Phasellus eget felis et quam rhoncus facilisis. Ut efficitur nibh eu metus pretium lobortis. Fusce in risus at nisl tristique efficitur quis eu arcu. Nam dictum massa vel sollicitudin consequat.

Ut a imperdiet justo, vel volutpat leo. Aliquam finibus, odio at commodo suscipit, orci tellus eleifend purus, et eleifend justo mi vel sapien. Aliquam nec urna pellentesque, porttitor massa in, faucibus nisl. Donec tellus lectus, iaculis a feugiat nec, viverra sed lectus. Morbi a lectus sed mauris lobortis mollis. Nullam pretium et quam dapibus posuere. Duis at bibendum lacus. Duis vel sapien condimentum, pretium leo ac, venenatis massa. Duis sed dignissim ligula. Sed vitae dolor nulla.

Nunc tincidunt libero a ipsum blandit, eget gravida ante egestas. Aenean id bibendum urna, vel viverra augue. Aenean ut lobortis nisl, sit amet lacinia massa. Proin facilisis metus lacus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras sed lorem nec purus tempus tristique ac sed sem. Integer maximus ligula et euismod porttitor. Nunc tempus ipsum tellus, in malesuada elit congue in. Nullam sem metus, volutpat at massa nec, interdum euismod arcu. Morbi commodo orci nec diam congue ornare. Integer volutpat ullamcorper lorem in eleifend. Aenean nibh velit, mattis eget lectus a, mollis sollicitudin dui. Nullam purus nunc, pharetra quis tellus et, mattis consectetur erat. Fusce feugiat felis nibh, sed feugiat eros malesuada sit amet.</p>
  </body>
</html>